/***********************CLASS SELECTORS*************************/
.top-container {
  background-color: #eeeeee;
  position: relative;
  padding-top: 6.25rem;
  /*height: 100vh;*/
  margin-bottom: 10rem;
}

.main-img {
  margin-top: 4rem;
  height: 25rem;
}
.middle-container {
  background-color: #eeeeee;
}

.bottom-container {
  background-color: #eeeeee;
}

.pro {
  text-decoration: underline;
}

/*.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
*/

/*.top-cloud {
  position: absolute;
  right: 300px;
  top: 10px
}
*/

.skills {
  /*background-color: #393e46;*/
  background-color: #eeeeee;
  margin-top: 0;

}
.f {
  font-style: italic;
}
.hit-img {
  border-radius: 30rem;
  width: 28rem;
  margin: auto;
}

.hack-img {
  float: left;
  text-align: left;
}

.profile {
/*  background-color: #b55400 */
background-color: #eeeeee;
margin-bottom: 0;
padding-bottom: 6.25rem;
}

.top-h1 {
  position: relative;
  bottom: 5.55rem;
  color: #222831
}
.bot-p {
  position: relative;
  bottom: 2.8rem;
  color: #222831
}

.skill-row {
  width: 60rem;
  margin: 6.25rem auto 6.25rem auto;
  line-height: 2;
}

.wbs {
  margin-top: 5rem;
  margin-bottom: 0;
  text-align: left;
}

.wbp {
  margin-top: 0;
  padding-bottom: 3.75rem;
  text-align: left;
}
.waa {
  padding-top: 3.75rem;
}
.wba {
  margin-top: 0;
  margin-bottom: 0;
}
.wbc {
  margin-top: 0;
}

.ekg {
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.ekp {
  text-align: left;
  float: right;
  margin-bottom: 0;
  margin-left: 1.25rem;
}
.ekgg {
  margin-top: 0;
  text-align: left;
  padding-bottom: 3.75rem;
}
.ekggg{
  margin-top: 0;
  text-align: left;
  margin-bottom: 0;
}
.butn {
  background: #ff8484;
  background-image: -webkit-linear-gradient(top, #ff8484, #d84c73);
  background-image: -moz-linear-gradient(top, #ff8484, #d84c73);
  background-image: -ms-linear-gradient(top, #ff8484, #d84c73);
  background-image: -o-linear-gradient(top, #ff8484, #d84c73);
  background-image: linear-gradient(to bottom, #ff8484, #d84c73);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #5c3b6f;
  background-image: -webkit-linear-gradient(top, #5c3b6f, #35234b);
  background-image: -moz-linear-gradient(top, #5c3b6f, #35234b);
  background-image: -ms-linear-gradient(top, #5c3b6f, #35234b);
  background-image: -o-linear-gradient(top, #5c3b6f, #35234b);
  background-image: linear-gradient(to bottom, #5c3b6f, #35234b);
  text-decoration: none;
}

.btcp {
  margin-top: 10rem;
  margin-bottom: 5rem;
}

/*******************TAG SELECTORS****************************/
h1 {
  margin: 3.125rem auto 0 auto;
  font-family: 'Oxygen Mono', monospace;
  font-size: 5.625rem;
}

body {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  font-size: 2rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f38181;
}
hr{
border-color: grey;
border-width: 5px;
border-style: none;
border-top-style: dotted;
width: 5%;
}
html {
  background-color: #eeeeee;
}
/*********************ID SELECTORS************************/
#btc {
  color: limegreen;
}
/*#s2 {
  background-image: url(https://media2.giphy.com/media/21LBBnHrYLvv5eYRX5/giphy.gif?cid=3640f6095c37a37e5933776555cef8e7);
}
